*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

/* NAVBAR */

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0c0c0c;
  padding: 20px 80px;
}

.logo{
  display: flex;
  align-items: center;
  gap: 20px;
}

.tituloPrincipal{
  color: white;
}

.navegacion{
  display: flex;
  align-items: center;
  justify-content: center;
}

.navegacion li{
  list-style: none;
  padding: 0 20px;
}

.navegacion li a{
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
}

.navegacion li a:hover{
  color: #FF7A00;
}

.iconoCarrito{
  color: #ffffff;
  font-size: 25px;
}

.bienvenidos{
  text-align: center;
  padding: 30px;
  font-size: 40px;
}