*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

/* NAVBAR */

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0c0c0c;
  padding: 20px 80px;
  border-bottom: 2px solid #FF7A00;
}

.logo{
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo a{
  text-decoration: none;
}

.tituloPrincipal{
  color: white;
}

.navegacion{
  display: flex;
  align-items: center;
  justify-content: center;
}

.navegacion a{
  list-style: none;
  padding: 0 20px;
}

.navegacion a{
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
}

.navegacion a:hover{
  color: #FF7A00;
}

.active{
  border-bottom:#FF7A00 2px solid;
  padding-bottom: 2px;
}

.iconoCarrito{
  color: #ffffff;
  font-size: 25px;
}

.iconoCarrito:hover{
  color: #FF7A00;
}

.bienvenidos{
  padding: 30px;
  height: 500px;
  background: url(https://res.cloudinary.com/dt0wab3c0/image/upload/v1669401904/FAG%20-%20Tienda%20futbolera/estadio-campo-futbol-bbva_mt3gvj.webp);
  height: 450px;
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bienvenidos h2{
  margin: 150px;
  text-align: center;
  font-size: 60px;
  font-weight: 900;
  color: #ffffff;
  text-shadow: 10px 0px 7px black;
}

.cantidad{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 20px;
}

.cantidad button{
  width: 35px;
  height: 35px;
  font-size: 20px;
  background-color: #FF7A00;
  border: 2px solid #3f3f3f;
  color:#ffffff;
  cursor: pointer;
}

.cantidad button:hover{
  background-color: #ff912a;
}

.cantidad button:disabled{
  background-color: #ebebeb;
  color: #000000;
  cursor: default;
}

.contenedorCantidad{
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: flex-start;
}

.btnAgregar{
  font-size: 14px;
  padding: 7px;
  background-color: #0c0c0c;
  color: #ffffff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  cursor: pointer;
}

.btnAgregar:hover{
  background-color: #252525;
}

.btnAgregar:disabled{
  background-color: #ebebeb;
  color: #000000;
  font-weight: 600;
  border: 2px solid #3f3f3f;
  cursor: default;
}

.listaProductos{
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px auto;
}

.producto{
  width: 330px;
  height: 450px;
  border-radius: 8px;
  overflow: hidden;
  margin: 20px;
  text-align: center;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.textnone{
  text-decoration: none;
  color: #000000;
}

.producto:hover{
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.4);
}

.producto img{
  width: 330px;
  height: 350px;
}

.producto article{
  height: 1000px;
}

.detailContainer{
  background-color: rgb(248, 248, 248);
  margin: 50px;
  border-radius: 8px;
  padding: 15px;
}

.detail{
  display: flex;
  flex-direction: row;
  gap: 100px;  
}

.detail img{
  border-radius: 10px;
  width: 500px;
}

.detail article{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.detail article h2{
  font-size: 35px;
}

.detail article p{
  font-size: 18px;
  line-height: 1.5;
}

.detail article h3{
  font-size: 28px;
}

.cargando{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
}

.productoCarrito{
  margin: 50px;
  background-color: rgb(248, 248, 248);
  display: flex;
  gap: 30px
}

.productoCarrito h3{
  font-size: 30px;
}

.productoCarrito h4{
  font-size: 25px;
}

.detallesCarrito{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.total{
  margin: 50px;
  margin-bottom: 0px;
}

.vaciar{
  margin: 50px;
}

.naranja{
  background-color: #FF7A00;
  border: #000000 2px solid;
  text-decoration: none;
}

.formulario{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.formulario input{
  height: 30px;
  padding: 10px;
}

.bordeRojo{
  border: 1px solid red;
}

.containerForm{
  padding: 100px;
}

.containerForm h1{
  font-size: 30px;
  padding: 10px 0;
}